
body {
  height: 100%;
  background: url(http://imgur.com/Jleqt1d);

}

header {
  display: inline-block;
  margin-left: 3%;
  margin-top: 2%;
}

h1 {
  display: inline-block;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

h1, h2, h4 {
  font-family: 'Neucha', cursive;
}

#main {
  display: inline-block;
  position: absolute;
  margin: 5% 15%;
  /*background-color: rgba(199, 0, 36, .3);*/
  border-style: groove;
  border-color: rgba(199, 0, 36, 1);
}

#input {
  display: block;
  margin: 0% auto;
  width: 106px;
  text-align: center;
}

.sheet {
  background: #AB3428;
  float: left;
  width: 150px;
  height: 75px;
  padding: 15px;
  border: 1px solid black;
  text-align: center;
  position: relative;
  margin: 25px 25px;
}

.button {
  display: block;
  margin: 10% auto;
  padding: 1% 5%;
}

#daily, #weekly, #monthly {
  float: left;
}

h3{
  text-align: left;
}

.remove {
  display: block;
  text-align: left;
}

.chartButtons {

}

